.discountImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
  max-height: 100%;
}

.discountTextAndBtn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  gap: 40px;
  left: 10px;
  top: 100px;
  font-family: "Montserrat", sans-serif;
}

.discountText {
  width: 1360px;
  color: white;
  font-size: 96px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 80px;
  cursor: default;
}

.discountBtn {
  padding: 16px 56px;
  border: 0;
  border-radius: 6px;
  background: #339933;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  cursor: pointer;
}

.discountBtn:hover {
  box-shadow: 1px 1px 50px 20px white;
  transition: 0.5s;
}
