.allProducts {
  height: 100%;
}

.allProductsSwitchMenu {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 36px;
}

.switchToMenu,
.stayAllProducts {
  display: flex;
  padding: 8px 16px;
  width: 128px;
  height: 36px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: white;
  color: #8b8b8b;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}
.stayAllProducts {
  color: black;
  width: 141px;
  height: 36px;
}

.switchHr {
  border-bottom: 1px solid #ddd;
  width: 16px;
}

.allProductsFilter {
  width: 100%;
}

.allProductsContainers {
  padding: 20px;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.allProductsD {
  margin-left: 32px;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 316px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.allProductsText {
  margin-top: 40px;
  margin-left: 40px;
  color: black;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}

.allProductsImg {
  border-bottom: 1px solid #ddd;
}
.linkP {
  color: black;
  text-decoration: none;
}
.linkP:hover {
  transition: 0.5s;
  background-color: #339933;
  color: white;
  box-shadow: 1px 1px 30px 3px #339933;
  border: none;
  cursor: pointer;
}

.allProductsP {
  margin: 20px 32px 16px 32px;
  overflow: hidden;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.allProductsPrice {
  margin: 0px 0px 32px 32px;
  color: black;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
