@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 20px 40px 80px 40px;
}

.contactH1Text {
  margin-right: 1155px;
  color: black;
  font-size: 64px;
  font-weight: 700;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 20px 40px 80px 40px;
  gap: 32px;
  align-self: stretch;
  margin-top: 40px;
}

.contactPhone {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 32px;
  gap: 16px;
  border-radius: 12px;
  background: #f1f3f4;
  max-width: 780px;
  max-height: 150px;
}

.contactText {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 500;
}

.contactNumber {
  color: #282828;
  font-size: 40px;
  font-weight: 600;
}

.contactSocials {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  padding: 32px;
  gap: 16px;
  border-radius: 12px;
  background: #f1f3f4;
  max-width: 548px;
  max-height: 150px;
  display: flex;
  width: 548px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
