.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
  border-bottom: 1px solid #ddd;
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 28px;
  cursor: pointer;
}
.headerMenu {
  display: inline-flex;
  gap: 32px;
  font-family: "Montserrat", sans-serif;
  margin-top: 54px;
  margin-bottom: 48px;
}

.headerMenuP {
  margin-left: 32px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.linkP {
  color: black;
  text-decoration: none;
}

.headerMenuP:hover {
  color: #06e306;
  transition: 0.5s;
}

.headerBasket {
  width: 48px;
  height: 48px;
  margin-right: 40px;
  margin-top: 41px;
  margin-bottom: 39px;
  cursor: pointer;
}
